In [22]:
#  data cleaning and extraction using real world data 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#

In [23]:
#  anomily or outlier 

#  firstly we created a series of number 

x = pd.Series([2.1, 2.3 , 4.5, 2.2, 2.4 ])
median = np.median(x)

threshold = 2
outlier = []
for item in x:
    if abs(item-median) >threshold:
        outlier.append(item)
        
print(outlier)

[4.5]

In [24]:
# mean based anomly detection 

mean = np.mean(x)
std = np.std(x)
threshold = 2
outlier = []
for item in x:
    if abs(item-mean) >threshold*std:
        outlier.append(item)
        

threshold

2

In [25]:
# Z-score-Based Anomaly detection 

mean = np.mean(x)
std = np.std(x)
outlier = []

for item in x:
    z_score= (item-mean)/std
    if abs(z_score) > 1.5:
        outlier.append(item)
        
        
outlier

[4.5]

In [26]:
#  interquartile Range for Anomaly Detection 

#  check if there any wrong value in data 

x.sort_values() # used bulit in function to sort out data 


Q1 , Q3 = np.percentile(x, [25,75])
IQR = Q3 - Q1
outlier = []
for item in x:
    if item < Q1 - 1.5*IQR or item > Q3 + 1.5*IQR:
        outlier.append(item)

outlier

[4.5]

In [27]:
#  dealing with missing values 

from numpy import nan
data1 = {'Name': ['Atta','Areeb','Muneeba','Ahmed'], 'Age':[22,27,nan,36]}


data1 = pd.DataFrame.from_dict(data1)
data1

      Name   Age
0     Atta  22.0
1    Areeb  27.0
2  Muneeba   NaN
3    Ahmed  36.0

In [28]:
# isNull 

data1.isnull()

    Name    Age
0  False  False
1  False  False
2  False   True
3  False  False

In [29]:
#  isnull.sum 

data1.isnull().sum()

Name    0
Age     1
dtype: int64

In [30]:
# removing missing values 

data1.dropna( inplace=True)
data1

<!-- re -->

In [32]:
data.fillna(data.select_dtypes(include=np.number).mean(), inplace=True)
data

      Name        Age
0     Atta  22.000000
1    Areeb  27.000000
2  Muneeba  28.333333
3    Ahmed  36.000000

In [33]:
#  replacing missing values 

data['Age'].fillna(data['Age'].mode()[0], inplace=True)
data

C:\Users\manir\AppData\Local\Temp\ipykernel_14008\3034490886.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mode()[0], inplace=True)

      Name        Age
0     Atta  22.000000
1    Areeb  27.000000
2  Muneeba  28.333333
3    Ahmed  36.000000